<div class="modal fade"
     id="modalJugador"
     tabindex="-1"
     aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header text-white">
        <h5 class="modal-title">{{ jugador?.usuario }}</h5>
        <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" *ngIf="jugador as j">
        <strong>Deporte:</strong> {{ j.deporte }} <br>
        <strong>Equipo:</strong> {{ j.equipo || 'Sin equipo' }} <br>
        <strong>Email:</strong> {{ j.email }}
      </div>

      <div class="modal-footer">
        <button class="btn btn-outline-primary btn-animado" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>

    </div>
  </div>

</div>

